In [1]:
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk import word_tokenize
import warnings
warnings.filterwarnings('ignore')
from nltk.stem import PorterStemmer

In [3]:
df = pd.read_csv('fake reviews dataset.csv')
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [4]:
df.isnull().sum()

category    0
rating      0
label       0
text_       0
dtype: int64

In [5]:
df['rating'].value_counts()

rating
5.0    24559
4.0     7965
3.0     3786
1.0     2155
2.0     1967
Name: count, dtype: int64

In [14]:
def remove_punctuation(text):
    nonpunc = [w for w in text if w not in string.punctuation]
    nonpunc = ''.join(nonpunc)
    return nonpunc

In [15]:
df['text_'][0],remove_punctuation(df['text_'][0])

('Love this!  Well made, sturdy, and very comfortable.  I love it!Very pretty',
 'Love this  Well made sturdy and very comfortable  I love itVery pretty')

In [16]:
df['text_'] = df['text_'].astype(str)

In [17]:
df['text_'].head()

0    Love this!  Well made, sturdy, and very comfor...
1    love it, a great upgrade from the original.  I...
2    This pillow saved my back. I love the look and...
3    Missing information on how to use it, but it i...
4    Very nice set. Good quality. We have had the s...
Name: text_, dtype: object

In [20]:
df['text_'][:] = df['text_'][:].apply(remove_punctuation)

In [21]:
df['text_'].tail()

40427    i had read some reviews saying that this bra r...
40428    i wasnt sure exactly what it would be it is a ...
40429    you can wear the hood by itself wear it with t...
40430    i liked nothing about this dress the only reas...
40431    i work in the wedding industry and have to wor...
Name: text_, dtype: object

In [22]:
df['text_'] = df['text_'].str.lower()
df['text_'].head()

0    love this  well made sturdy and very comfortab...
1    love it a great upgrade from the original  ive...
2    this pillow saved my back i love the look and ...
3    missing information on how to use it but it is...
4    very nice set good quality we have had the set...
Name: text_, dtype: object

In [23]:
stemmer = PorterStemmer()
def stem_words(text):
    return ' '.join([stemmer.stem(word) for word in text.split()])
stem_words(df['text_'][4])
df['text_'] = df['text_'].apply(lambda text:stem_words(text))

In [24]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,love thi well made sturdi and veri comfort i l...
1,Home_and_Kitchen_5,5.0,CG,love it a great upgrad from the origin ive had...
2,Home_and_Kitchen_5,5.0,CG,thi pillow save my back i love the look and fe...
3,Home_and_Kitchen_5,1.0,CG,miss inform on how to use it but it is a great...
4,Home_and_Kitchen_5,5.0,CG,veri nice set good qualiti we have had the set...

In [25]:
df.to_csv('preprocessed_fake_review_dataset.csv')